body {
	background: #13C366;
	color: #FFFFFF;
}
.companyname {
  color: #FFFFFF;
  font-family: Lato, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.loginheading {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
}

div.form-group {
	text-align: right;
}

input.form-control {
	width: 27vw;
	height: 3vw;
	display: inline-block;
}

.emaildiv {
	padding-right: 34vw;
}
	
.pwdiv {
	padding-right: 34vw;
}


div.form-check{
	text-align: center;
}

div.loginbutton {
	text-align: center;
	
}
