body {
	background: #4FDBDB;
	font-family: Lato, sans-serif;
}

form {
	text-align: center;
}

.searchcontainer {
	overflow: hidden;
}

.searchinfo {
	padding-left:1vw;
	font-size: 1.5vw;
	float: left;
}
h2.searchinfo {
	font-size: 2vw;
	overflow: hidden;
}

.teachers {
	margin-top: 5vw;
	
}

.column{
	float: left;
	width: 33.33%;
	padding: 1.5vw;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}