body {
	margin: 1vw;
	background: #FFFFFF;
	font-family: Lato, sans-serif;
}

.companyname {
  background: #4FDBDB;
  color: #FFFFFF;
  font-family: Lato, sans-serif;
  font-size: 4vw;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding: 0.5vw;
  border-radius: 30px;
}

form {
	text-align: center;
}

.searchcontainer {
	
	overflow: hidden;
}

.searchinfo {
	padding-left:1vw;
	font-size: 1.5vw;
	margin-top: 3vw;
	text-align: center;
}
.searchinfo h2{
	font-size: 2vw;
	overflow: hidden;
}

.teachers {
	margin-top: 5vw;
	background: #4FDBDB;
}

button {
	height: 3vw;
	width: 6vw;
}

.column{
	float: left;
	width: 33.33%;
	padding: 1.5vw;
	border-right: 0.2vw solid white;
}

.column h2{
	font-size: 1.5vw;
}

.teacher {
	background-color: #4b68d3;
	border-radius: 30px;
	text-align: center;
	display: table;
	padding: 1vw;
	margin-bottom: 6px;
	width: 30vw;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width:973px) {
	.companyname {
		font-size: 5vw;
		line-height: 6vw;
	}
	.searchinfo {
		font-size: 3vw;
	}
	.searchinfo h2{
		font-size: 4vw;
	}
	button {
		height: 8vw;
		width: 17vw;
	}
	.column {
		width: 100%;
		margin-left: 3vw;
		border-bottom: 1vw solid white;
	}
	.column h2{
		font-size: 5vw;
	}
	.column h3{
		font-size: 4vw;
	}
}