body {
	background: #4FDBDB;
	font-family: Lato, sans-serif;
}

form {
	text-align: center;
}

.searchcontainer {
	overflow: hidden;
}

.searchinfo {
	padding-left:1vw;
	font-size: 1.5vw;
	
	text-align: center;
}
.searchinfo h2{
	font-size: 2vw;
	overflow: hidden;
}

.teachers {
	margin-top: 5vw;
	
}

button {
	height: 2vw;
	width: 6vw;
}

.column{
	float: left;
	width: 33.33%;
	padding: 1.5vw;
	border-right: 0.2vw solid black;
}

.column h2{
	font-size: 1.5vw;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}