body {
	margin: 1vw;
	background: #FFFFFF;
	font-family: Lato, sans-serif;
}
form {
	text-align: center;
}
.companyname {
  background: #4FDBDB;
  color: #FFFFFF;
  font-family: Lato, sans-serif;
  font-size: 4vw;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding: 0.5vw;
  border-radius: 30px;
}


.searchcontainer {
	overflow: hidden;
}

.searchinfo {
	padding-left:1vw;
	font-size: 1.5vw;
	margin-top: 3vw;
	text-align: center;
}
.searchinfo h2{
	font-size: 2vw;
	overflow: hidden;
}

.students {
	margin-top: 5vw;
	background: #4FDBDB;
	
}
button {
	height: 2vw;
	width: 6vw;
}

.column{
	float: left;
	width: 33.33%;
	padding: 1.5vw;
	border-right: 0.2vw solid white;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}