body {
    margin: 1vw;
	font-family: Lato, sans-serif;
	
	
}
img{
	width: 30vw;
	display: inline-block;
	margin: 2vw;
	border-style: solid;
	border-radius: 10px;
}
.companyname {
  background: #13C366;
  color: #FFFFFF;
  font-family: Lato, sans-serif;
  font-size: 6vw;
  font-weight: 700;
  line-height: 5vw;
  text-align: left;
  padding: 1vw;
  border-radius: 30px;
}
.welcometext {
  
  font-family: Lato, sans-serif;
  font-size: 7vw;
  font-weight: 700;
  line-height: 143px;
  text-align: center;
  display: inline-block;
  padding-left: 10vw;
}
h2 {
	text-align: center;
	background: #13C366;
    color: #FFFFFF;
}
.about-section {
	margin-top: 1vw;
	border-top: 0.3vw solid black;
	padding-top: 5vw;
}
.about-section h2{
	text-align: center;
	background: #13C366;
	color: #FFFFFF;
	line-height: 40vh;
	font-size: 12vh;
	background-image: url(/static/education.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.links {
  padding-left: 37vw;
  display: flex;
}
a {
  color: #FFFFFF;
  background: #13C366;
  font-family: Lato;
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 3vw;
  text-align: left;
  margin-left: 1.6vw;
  padding: 0.8vw;
  border-style: none;
  border-width: thin;
  border-color: black;
  border-radius: 30px;
}

a.ml-2 {
	background: #FFFFFF;
	color: black;
	font-size: 80%;
}



@media (max-width:973px) {
	.companyname {
		font-size: 7vw;
		line-height: 9vw;
	}
	.links {
		padding-left: 15vw;
		flex-direction: column;
	}
	
	a {
		font-size: 3.5vw;
		flex: 1;
		margin-bottom: 2vw;
		align-self: center;
		}
	.about-section h2 {
        line-height: 20vh;
		font-size: 8vh;
	}	
}
	