{% extends "layout2.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/newclass.css') }}">
{% endblock %}
{% block content %}
<h1 class="companyname"> OLFA - Online Learning For All </h1>
<h1> Create A New Class</h1>
<form method="POST" action="">
{{ form.hidden_tag() }}
<fieldset class="form-group">
<div class="form-group">

{{ form.subject.label(class="form-control-label") }}

{% if form.subject.errors %}
    {{ form.subject(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
    {% for error in form.subject.errors %}
        <span>{{ error }}</span>
    {% endfor %}
    </div>
{% else %}
    {{ form.subject(class="form-control form-control-lg") }}
{% endif %}
</div>
<div class="form-group">

{{ form.link.label(class="form-control-label") }}

{% if form.link.errors %}
    {{ form.link(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
    {% for error in form.link.errors %}
        <span>{{ error }}</span>
    {% endfor %}
    </div>
{% else %}
    {{ form.link(class="form-control form-control-lg") }}
{% endif %}
</div>
<div class="form-group">

{{ form.description.label(class="form-control-label") }}

{% if form.description.errors %}
    {{ form.description(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
    {% for error in form.description.errors %}
        <span>{{ error }}</span>
    {% endfor %}
    </div>
{% else %}
    {{ form.description(class="form-control form-control-lg") }}
{% endif %}
</div>
<div class="form-group">

{{ form.time.label(class="form-control-label") }}

{% if form.time.errors %}
    {{ form.time(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback">
    {% for error in form.time.errors %}
        <span>{{ error }}</span>
    {% endfor %}
    </div>
{% else %}
    {{ form.time(class="form-control form-control-lg") }}
{% endif %}
{{ warning }}
</div>
<div class="form-group">
    {{ form.submit(class="btn btn-outline-info") }}
</div>
</fieldset>
</form>
{% endblock content %}
