{% extends "layout2.html" %}
{% block content %}
	<h1> EDU-C8 </h1>
	<h1> Privacy policy </h1>
    <small>  

Last updated: May 01, 2020 <br> 
<br>
<h2> In The Following Document:</h2>
<p>        
 ●	My Company<br>
My Company means My Company LLC, Company’s Information and Address.<br>
●	GDPR<br>
General Data Protection Regulation Act.<br>
●	Data Controller<br>
Data Controller means the natural or legal person who (either alone or jointly or in common with other persons) determines the purposes for which and the manner in which any personal information are, or are to be, processed.<br>
●	Data Processor<br>
Data Processor means any natural or legal person who processes the data on behalf of the Data Controller.<br>
●	Data Subject<br>
Data Subject is any living individual who is using our Service and is the subject of Personal Data.<br>
</p>      
        
        
<h2> Our Principles </h2>
<p>        
Our principles for processing personal data are:<br>
●	Fairness and lawfulness. When we process personal data, the individual rights of the Data Subjects must be protected. All personal data must be collected and processed in a legal and fair manner.<br>
●	Restricted to a specific purpose. The personal data of Data Subject must be processed only for specific purposes.<br>
●	Transparency. The Data Subject must be informed of how his/her data is being collected, processed and used.<br>
</p>
       
<h2> The Data We Collect </h2>        
My Company collects several different types of personal data for various purposes. Personal Data may include, but is not limited to:<br>
●	Email address<br>
●	First name and last name<br>
●	Phone number<br>
●	Address, State, Province, ZIP/Postal code, City<br>
</p>        

<h2> How We Use Your Data </h2>
<p>
My Company uses the collected personal data for various purposes:<br>
●	To provide you with services<br>
●	To notify you about changes to our services and/or products<br>
●	To provide customer support<br>
●	To gather analysis or valuable information so that we can improve our services<br>
●	To detect, prevent and address technical issues<br>
</p>

<h2> Why Do We Need It? </h2>
<p>
My Company's legal basis for collecting and using the personal data described in this Data Protection Policy depends on the personal data we collect and the specific context in which we collect the information:<br>
●	My Company needs to perform a contract with you<br>
●	You have given My Company permission to do so<br>
●	Processing your personal data is in My Company legitimate interests<br>
●	My Company needs to comply with the law<br>
<br>
My Company will retain your personal information only for as long as is necessary for the purposes set out in this Data Protection Policy.<br>
<br>
My Company will retain and use your information to the extent necessary to comply with our legal obligations, resolve disputes, and enforce our policies.<br>

<p>
If you are a resident of the European Economic Area (EEA), you have certain data protection rights. If you wish to be informed what personal data we hold about you and if you want it to be removed from our systems, please contact us.<br>
</p>

<h2> Your Data Protection Rights </h2>
<p>
In certain circumstances, you have the following data protection rights:<br>
●	The right to access, update or to delete the information we have on you<br>
●	The right of rectification<br>
●	The right to object<br>
●	The right of restriction<br>
●	The right to data portability<br>
●	The right to withdraw consent<br>
</p>
</small>
{% endblock content %}