{% extends "layout2.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/studenthome.css') }}">
{% endblock %}
{% block content %}
	<h1 class="companyname"> OLFA For Students</h1>
	<div class="topnav">
	<div class="searchinfo">
  <h2>Search for a subject</h2>
  <p>We will find you a tutor who can help you with this subject</p>
</div>
  <div class="search-container">
    <form action="/student_search"> 
      <input type="text" placeholder="Find a tutor.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<div class="teachers">
<div class="row">
	<div class="column">
	<h2> Teachers who've accepted your requests </h2>
	{% for teacher in teachersaccepted %}
	
	<h3>{{ teacher.name }}</h3>
	<p>Subject: {{ teacher.subject }}</p>
	<p>Timezone: {{ teacher.timezone }} </p>
	<p>Language: {{ teacher.language }} </p> 
{% endfor %}
</div>
<div class="column">
<h2> Pending Teacher Requests </h2>
    <h3>Bhmed Lingston</h3>
	<p>Subject: Microbiology </p>
	<p>Timezone: BST </p>
	<p>Language: English </p> 
</div>
<div class="column">
<h2> Recommended Teachers </h2>
    <h3>Jane Doe</h3>
	<p>Subject: Microbiology </p>
	<p>Timezone: BST </p>
	<p>Language: English </p> 
</div>
</div>
</div>
{% endblock content %}