{% extends "layout2.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/studenthome.css') }}">
{% endblock %}
{% block content %}
	<h1 class="companyname"> OLFA For Students</h1>
	<h1> Student Homepage </h1>
	<h2> Teachers who've accepted your requests </h2>
	{% for teacher in teachersaccepted %}
	<h3>{{ teacher.name }}</h3>
	<p>Subject: {{ teacher.subject }}</p>
	<p>Timezone: {{ teacher.timezone }} </p>
	<p>Language: {{ teacher.language }} </p>
	{% endfor %}
{% endblock content %}