{% extends "layout2.html" %}
{% block stylesheet %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/student_search.css') }}">
{% endblock  %}
{% block content %}
	<h1> OLFA </h1>
	<h1> Tutors in this subject </h1>
    <div class="Bhmed">
        Teacher:<a class="ml-2" href="{{url_for('Bhmed_prof')}}">Bhmed Lingston</a>
    <p> Teacher of Microbiology</p>
    <p> Classroom avaiable at 18:00 for 60 minute session</p>
    <p> Available to Join Now!</p> <br>
    </div>
    <div class="Jane">
    Teacher:<a class="ml-2" href="{{url_for('Jane_prof')}}">Jane Doe</a>
    <p> Also a Teacher of Microbiology</p>
    <p> Classroom avaiable at 16:00 for 30 minute session</p>
    <p> Available to Join Now!</p> <br>
    </div>
    <div class="John">
    Teacher:<a class="ml-2" href="{{url_for('John_prof')}}">John Doe</a>
    <p> A Teacher of Biology</p>
    <p> Classroom avaiable at 17:45 for 45 minute session</p>
    <p> Currently Unavailable!</p> <br>
    </div>
{% endblock content %}
