{% extends "layout2.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/studentsignup.css') }}">
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
				<div class="formdiv">
                <div class="form-group">
                    {{ form.student_first_name.label(class="form-control-label") }}

                    {% if form.student_first_name.errors %}
                        {{ form.student_first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_first_name(class="form-control form-control-lg") }}
                    {% endif %}
					</div>
					</div>
					<div class="formdiv">
					<div class="formgroup">
                     {{ form.student_last_name.label(class="form-control-label") }}

                    {% if form.student_last_name.errors %}
                        {{ form.student_last_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_last_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
				<div class="formdiv">
                <div class="form-group">
                    {{ form.student_email.label(class="form-control-label") }}
					
                    {% if form.student_email.errors %}
                        {{ form.student_email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
				<div class="formdiv">
                <div class="form-group">
                    {{ form.student_password.label(class="form-control-label") }}
                    {% if form.student_password.errors %}
                        {{ form.student_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
				<div class="formdiv">
                <div class="form-group">
                    {{ form.student_confirm_password.label(class="form-control-label") }}
                    {% if form.student_confirm_password.errors %}
                        {{ form.student_confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
				<div class="formdiv">
                <div class="form-group">
                    {{ form.student_subject.label(class="form-control-label") }}
                    {% if form.student_subject.errors %}
                        {{ form.student_subject(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_subject.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_subject(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
				<div class="formdiv">
                <div class="form-group">
                    {{ form.student_examBoard.label(class="form-control-label") }}
                    {% if form.student_examBoard.errors %}
                        {{ form.student_examBoard(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_examBoard.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_examBoard(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
				<div class="formdiv">
                <div class="form-group">
                    {{ form.student_timezone.label(class="form-control-label") }}
                    {% if form.student_timezone.errors %}
                        {{ form.student_timezone(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_timezone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_timezone(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
				<div class="formdiv">
                <div class="form-group">
                    {{ form.student_first_language.label(class="form-control-label") }}
                    {% if form.student_first_language.errors %}
                        {{ form.student_first_language(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_first_language.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_first_language(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
                <div class="formdiv">
                <div class="form-group">
                    {{ form.student_other_lang.label(class="form-control-label") }}
                    {% if form.student_other_lang.errors %}
                        {{ form.student_other_lang(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_other_lang.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_other_lang(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
                <div class="formdiv">
                <div class="form-group">
                    {{ form.student_year_group.label(class="form-control-label") }}
                    {% if form.student_year_group.errors %}
                        {{ form.student_year_group(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_year_group.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_year_group(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
                <div class="formdiv">
                <div class="form-group">
                    {{ form.student_accessibility.label(class="form-control-label") }}
                    {% if form.student_accessibility.errors %}
                        {{ form.student_accessibility(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.student_accessibility.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.student_accessibility(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
				</div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small>
            Already Have An Account? <a class="ml-2" href="{{ url_for('studentlogin') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}
