{% extends "layout2.html" %}
{% block stylesheet %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/teacher_search.css') }}">
{% endblock  %}
{% block content %}
	<h1> OLFA </h1>
	<h1> Tutors teaching similar subjects to you</h1>
    <div class="Bhmed">
        Teacher:<a class="ml-2" href="{{url_for('teacherprofile', name='BhmedLingston_prof')}}">Bhmed Lingston</a>
    <p> Also a Teacher of Microbiology</p>
    <p> Classroom avaiable at 18:00 for 60 minute session</p>
    <p> Contact form available at : XXXX</p> <br>
    </div>
    <div class="Jane">
    Teacher:<a class="ml-2" href="{{url_for('teacherprofile', name='JaneDoe_prof')}}">Jane Doe</a>
    <p> Also a Teacher of Microbiology</p>
    <p> Classroom avaiable at 16:00 for 30 minute session</p>
    <p> Contact form available at : XXXX</p> <br>
    </div>
    <div class="John">
     Teacher:<a class="ml-2" href="{{url_for('teacherprofile', name='JohnDoe_prof')}}">John Doe</a>
    <p> A Teacher of Biology</p>
    <p> Classroom avaiable at 17:45 for 45 minute session</p>
    <p> Contact form available at : XXXX</p> <br>
    </div>
{% endblock content %}