{% extends "layout2.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/teacherhome.css') }}">
{% endblock %}
{% block content %}
	<h1 class="companyname"> OLFA For Teachers</h1>
    <h1> Teacher Homepage</h1>
	<div class="topnav">
	<div class="searchinfo">
    <h2>Search for another tutor</h2>
  <p>We will find you another tutor who you can delegate your work with.</p>
</div>
  <div class="search-container">
    <form action="/teacher_search"> 
      <input type="text" placeholder="Find a tutor.." name="search">
      <button type="submit"><i class="fa fa-search">Search</i></button>
    </form>
  </div>
</div>
<div class="classbutton"><a href="{{ url_for('newclass')}}">Create Class</a></div>
<div class="students">
<div class="row">
	<div class="column">
	<h2> Your recent messages </h2>
	<div class="item">
	<h3>Message</h3>
	<p>Class: Microbiology </p>
	<p>Message: XXXXX </p>
	<p>Date: 02/05/2020 </p> 
	</div>
</div>
<div class="column">
<h2> Your upcoming lessons </h2>
<div class="item">
    <h3>Class XXXX</h3>
	<p>Subject: Chemistry </p>
	<p>Timezone: UTC +01:00</p>
	<p>Language: English </p> 
	</div>
</div>
<div class="column">
<h2> Your classes </h2>
<div class="item">
    <h3>Class XXXX <h3>
	<p>Subject: Microbiology </p>
	<p>Timezone: BST </p>
	<p>Language: English </p>
	</div>
	<div class="item">
    <h3>Class YYYY <h3>
	<p>Subject: Biology </p>
	<p>Timezone: UTC </p>
	<p>Language: French </p>
	</div>
</div>
</div>
</div>
    <div class="border-top pt-3">
        <small class="text-muted">
            How we use your data<a class="ml-2" href="{{ url_for('privacy_policy') }}">(privacy policy)</a>
            Our terms of use<a class="ml-2" href="{{url_for('terms_of_use')}}">(terms and conditions)</a>
        </small>
    </div>  
{% endblock content %}