{% extends "layout2.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/teachersignup.css') }}">
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h1 class="join">Join Today</h1>
                <div class="formdiv">
                <div class="form-group">
                    {{ form.teacher_first_name.label(class="form-control-label") }}

                    {% if form.teacher_first_name.errors %}
                        {{ form.teacher_first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher_first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_first_name(class="form-control form-control-lg") }}
                    {% endif %}
                    </div>
					</div>
					<div class="formdiv">
					<div class="formgroup">
                    {{ form.teacher_last_name.label(class="form-control-label") }}
                    
                    

                    {% if form.teacher_last_name.errors %}
                        {{ form.teacher_last_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher_last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_last_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
                <div class="formdiv">
                <div class="form-group">
                    {{ form.teacher_email.label(class="form-control-label") }}
                    {% if form.teacher_email.errors %}
                        {{ form.teacher_email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher_email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
                <div class="formdiv">
                <div class="form-group">
                    {{ form.teacher_password.label(class="form-control-label") }}
                    {% if form.teacher_password.errors %}
                        {{ form.teacher_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
                <div class="formdiv">
                <div class="form-group">
                    {{ form.teacher_confirm_password.label(class="form-control-label") }}
                    {% if form.teacher_confirm_password.errors %}
                        {{ form.teacher_confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher_confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
                <div class="formdiv">
                <div class="form-group">
                    {{ form.teacher_subject.label(class="form-control-label") }}
                    {% if form.teacher_subject.errors %}
                        {{ form.teacher_subject(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher_subject.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_subject(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
                
                <div class="formdiv">
                <div class="form-group">
                    {{ form.teacher_examBoard.label(class="form-control-label") }}
                    {% if form.teacher_examBoard.errors %}
                        {{ form.teacher_examBoard(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher_examBoard.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_examBoard(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
            
                <div class="formdiv">
                <div class="form-group">
                    {{ form.teacher_timezone.label(class="form-control-label") }}
                    {% if form.teacher_timezone.errors %}
                        {{ form.teacher_timezone(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher_timezone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_timezone(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
            
                <div class="formdiv">
                <div class="form-group">
                    {{ form.teacher_first_language.label(class="form-control-label") }}
                    {% if form.teacher_first_language.errors %}
                        {{ form.teacher_first_language(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teacher_first_language.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_first_language(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
            
                <div class="formdiv">
                 <div class="form-group">
                    {{ form.teacher_other_lang.label(class="form-control-label") }}
                    {% if form.teacher_other_lang.errors %}
                        {{ form.teacher_other_lang(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in other.teacher_other_lang.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_other_lang(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
                <div class="formdiv">
                <div class="form-group">
                    {{ form.teacher_min_year.label(class="form-control-label") }}
                    {% if form.teacher_min_year.errors %}
                        {{ form.teacher_min_year(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in other.teacher_min_year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_min_year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
                <div class="formdiv">
                <div class="form-group">
                    {{ form.teacher_max_year.label(class="form-control-label") }}
                    {% if form.teacher_max_year.errors %}
                        {{ form.teacher_max_year(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in other.teacher_max_year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teacher_max_year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small>
            Already Have An Account? <a class="ml-2" href="{{ url_for('teacherlogin') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}
