{% extends "layout2.html" %}
{% block content %}
	<h1> OLFA </h1>
	<h1> Terms of use </h1>
    <small>  

Last updated: May 01, 2020 <br> 
<br>
<h2> Terms and Conditions</h2>
<p>        
Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://www.OLFA.com website and the OLFA Mobile App  mobile application (the "Service") operated by OLFA  ("us", "we", or "our"). <br>

Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. <br>

By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.<br>
</p>        
        
<h2> Content </h2>
<p>        
Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the information which you decide to share. This information musst not be private information regarding any indviduals', including personal information about yourself (such as address, home number, personal social media).

The Content section is for businesses that allow users to create, edit, share, make content on their websites or apps. For the full disclosure section, create your own Terms and Conditions.
</p>

<h2> Third party links </h2>
<p>
Our Service may contain links to third-party web sites or services that are not owned or controlled by OLFA.<br>

OLFA has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that OLFA (change this) shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services. <br>
</p>        

<h2> Changes </h2>
<p>
We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 (change this) days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion. <br>
</p>

<h2> Contact Us </h2>
<p>
If you have any questions about these Terms, please contact us via our website, telephone or through our email service. Calls will be monitored for training purposes only. <br>
</p>
</small>
{% endblock content %}
