{% extends "layout2.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
{% endblock %}
{% block content %}
	<h1 class="companyname"> OLFA - Online Learning For All </h1>
	<img src="{{ url_for('static', filename='education.jpg') }}" alt="education stock image"/>
	<h1 class="welcometext"> Hi there! </h1>
	<div class = "links">
	<a href="{{ url_for('studentlogin')}}">Student Login</a>
	<a href="{{ url_for('teacherlogin')}}">Teacher Login</a>
	<a href="{{ url_for('studentsignup')}}">Student Sign Up</a>
	<a href="{{ url_for('teachersignup')}}">Teacher Sign Up</a>
	</div>
{% endblock content %}