{% extends "layout2.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/welcome.css') }}">
{% endblock %}
{% block content %}
	<h1 class="companyname"> OLFA - Online Learning For All </h1>
	<img src="{{ url_for('static', filename='education.jpg') }}" alt="education stock image"/>
	<h1 class="welcometext"> Hi there! </h1>
	<div class = "links">
	<a href="{{ url_for('studentlogin')}}">Student Login</a>
	<a href="{{ url_for('teacherlogin')}}">Teacher Login</a>
	<a href="{{ url_for('studentsignup')}}">Student Sign Up</a>
	<a href="{{ url_for('teachersignup')}}">Teacher Sign Up</a>
	</div>
	<div class="about-section">
	<h2> About Us </h2>
	<p> Online Learning For All gives students the opportunity to sign up for online lessons with any teacher registered on the site. This means students from underfunded schools that are struggling to run online lessons during this pandemic can get the support they need. Our goal is to make sure learning from home doesn't hold back students' education.</p>
	</div>
    <div class="border-top pt-3">
        <small class="text-muted">
            How we use your data<a class="ml-2" href="{{ url_for('privacy_policy') }}">(privacy policy)</a>
            Our conditions<a class="ml-2" href="{{url_for('terms_of_use')}}">(terms of use)</a>
        </small>
    </div>
{% endblock content %}